<div class="h-screen">
  <div class="mt-24 md:w-[38%] mx-auto text-center">
    <h1 class="md:text-6xl text-4xl font-bold mb-12">Share Your Knowledge</h1>
    <h3 class="text-3xl mx-auto font-light">
      <strong class="font-bold">Sharing is learning</strong>. Share what you’ve
      learned to help others and also to help yourself
      <strong class="font-bold">improve</strong>.
    </h3>
  </div>

  <div class="w-full h-80 mt-24 flex justify-center gap-16">
    <div
      class="relative h-full w-96 bg-white border-2 border-primary rounded-[60px] px-6 py-14 text-center"
    >
      <span
        class="absolute -top-16 left-1/2 -translate-x-1/2 h-28 w-28 rounded-full bg-primary flex items-center justify-center"
      >
        <%= vite_image_tag 'images/searching.png', class: 'h-16 w-16' %>
      </span>

      <h3 class="text-2xl font-bold underline">
        Explore Knowledge Bits shared by others
      </h3>
      <p class="text-xl mt-4">
        Browse different kinds of knowledge bits by people all over the world.
      </p>
    </div>
    <div
      class="relative h-full w-96 bg-white border-2 border-primary rounded-[60px] px-6 py-14 text-center"
    >
      <span
        class="absolute -top-16 left-1/2 -translate-x-1/2 h-28 w-28 rounded-full bg-primary flex items-center justify-center"
      >
        <%= vite_image_tag 'images/open-book.png', class: 'h-16 w-16' %>
      </span>

      <h3 class="text-2xl font-bold underline">
        Read a Knowledge Bit shared by others
      </h3>
      <p class="text-xl mt-4">
        Reading knowledge bit shared by other people helps you improve
      </p>
    </div>
    <div
      class="relative h-full w-96 bg-white border-2 border-primary rounded-[60px] px-6 py-14 text-center"
    >
      <span
        class="absolute -top-16 left-1/2 -translate-x-1/2 h-28 w-28 rounded-full bg-primary flex items-center justify-center"
      >
        <%=
          vite_image_tag 'images/write.png', class: 'relative left-2 h-16 w-16'
        %>
      </span>

      <h3 class="text-2xl font-bold underline">Share your own Knowledge Bits</h3>
      <p class="text-xl mt-4">
        Sharing is also an effective form of learning. If you have some recently
        learnt knowledge you should share it.
      </p>
    </div>
  </div>
  
</div>
